#content {
  height: auto;
  width: 100%;
}
#content-wrapper {
  width: 100%;
  position: relative;
  margin-right: 0;
  left: 280px;
}
.statistic {
  position: absolute;
  top: 18px;
  width: 82%;

  &__chart {
    background: white;
    width: 795px;
    background: #000;
    box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  &__data {
    width: 329px;
    &-calendar {
      background: #000;
      height: 47px;
      border-radius: 10px;
    }
    &-row {
      background: #000;
      border-radius: 10px;
      margin-top: 11px;
      height: 93px;
    }
  }
}
.search {
  position: absolute;
  top: 400px;
  height: 56px;
  width: 81%;

  &__input {
    background: #000;
    border-radius: 10px;
    &-text {
      outline: none;
      margin-top: 7px;
      margin-left: 20px;
    }
  }
  &__button {
    position: absolute;
    width: 147.15px;
    height: 32px;
    right: 33px;
    top: 14px;
    background: #4155c5;
    border-radius: 31px;
    text-align: center;
    .btn-link {
      font-weight: 500;
      color: white;
      text-decoration: none;
    }
  }
}
.filter {
  position: absolute;
  top: 480px;
  &__property {
    &-row {
      width: 131px;
      height: 47px;
      margin-right: 10px;
      background: #000;
      border-radius: 7px;
    }
  }
  &__calendar {
    &-row {
      width: 253px;
      height: 47px;
      background: #000;
      border-radius: 7px;
    }
  }
}
.data {
  position: absolute;
  width: 81%;
  height: 545px;
  top: 550px;
  background: #000;
}
