@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 245px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #FFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
