.statistical {
  background-color: black;
}

.search-bar {
  input {
    flex-grow: 5;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
  }
  .button_create_link {
    flex-grow: 1;
    border: 1px solid #4155c5;
    background: #4155c5;
    color: white;
    border-radius: 30px;
    margin: 5px;
    width: 200px;
    padding: 5px;
  }
}
.filter-bar {

  button {
    height: 60px;
    padding: 15px 15px 15px 15px;
  }
}
