/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");
a {
  color: #4154f1;
  text-decoration: none;
}
a:hover {
  color: #717ff5;
  text-decoration: none;
}

/* Light Backgrounds overide bootstrap */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

@media (min-width: 1200px) {
  #main {
    margin-left: 300px;
  }
}
@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}
@media (min-width: 1200px) {
  .toggle-sidebar #main,
.toggle-sidebar {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 80px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
p {
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 15;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-item {
  margin-bottom: 5px;
}
.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}
.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #4154f1;
}
.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}
.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}
.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}
.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}
.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}
.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}
.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}
.sidebar-nav .nav-content a:hover {
  color: #4154f1;
}
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}
.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }

  .toggle-sidebar .sidebar {
    left: 0;
  }
}
@media (min-width: 1200px) {
  #main {
    margin-left: 300px;
  }

  .toggle-sidebar #main {
    margin-left: 0;
  }
  .toggle-sidebar #footer {
    margin-left: 0;
  }
  .toggle-sidebar .sidebar {
    left: -300px;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}
.logo img {
  max-height: 26px;
  margin-right: 6px;
}
.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #4155C5;
  padding-left: 20px;
}
.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #fff;
}
.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}
.header .search-form {
  width: 100%;
}
.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}
.header .search-form input:focus {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}
.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}
.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}
.header-nav > ul {
  margin: 0;
  padding: 0;
}
.header-nav .nav-icon {
  font-size: 22px;
  color: #fff;
  margin-right: 25px;
  position: relative;
}
.header-nav .nav-profile {
  color: #fff;
}
.header-nav .nav-profile img {
  max-height: 36px;
}
.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}
.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}
.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}
.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}
.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}
.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}
.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}
.header-nav .messages {
  inset: 8px -15px auto auto !important;
}
.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}
.header-nav .messages .message-item a {
  display: flex;
}
.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}
.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}
.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}
.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}
.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}
.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}
.header-nav .profile .dropdown-header span {
  font-size: 14px;
}
.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}
.header-nav .profile .dropdown-item:hover {
  background-color: #fff;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}
@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }
  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}
/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  -webkit-animation-name: dropdown-animate;
  animation-name: dropdown-animate;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}
.dropdown-menu .dropdown-header {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}
.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}
.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}
.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}
.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}
a.nav-link {
  color: #fff;
  margin-right: 30px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  z-index: 20;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

.footer__top {
  background-color: #fff;
  height: 250px;
}
.footer__top .footer-label {
  font-weight: 500;
}
.footer__top-left {
  width: 300px;
  float: left;
  margin-left: 65px;
}
.footer__top-left .footer-item {
  margin-top: 10px;
}
.footer__top-right {
  width: 380px;
  float: right;
}
.footer__top-right .footer-item {
  margin-top: 10px;
}

.footer__bottom {
  background: #f5f5f5;
  height: 72px;
  text-align: center;
  padding-top: 10px;
}
.footer__bottom .footer-label {
  font-weight: 500;
}

.chart {
  margin-bottom: 15px;
}

.chart .card-chart {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 10px;
}

.filter-tag .btn-filter {
  width: fit-content;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  margin-right: 15px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}

.btn-filter1 {
  width: 250px;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  margin-right: 15px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}

.search-bar {
  margin-bottom: 15px;
}

.search-bar .card-search {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}
.search-bar .card-search input {
  flex-grow: 5;
  border: none;
  border-radius: 30px;
  padding-left: 10px;
}
.search-bar .card-search .button_create_link {
  flex-grow: 1;
  border: 1px solid #4155c5;
  background: #4155c5;
  color: white;
  border-radius: 30px;
  margin: 5px;
  width: 200px;
  padding: 5px;
}

.widget-content {
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
}

.widget-content .widget-content-outer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.top-click {
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.top-click .widget-content-left {
  margin-left: 1.5rem;
  display: flex;
}

.top-click .widget-content-right {
  width: 70%;
  margin-left: 1.5rem;
}
.top-click .widget-content-right .widget-heading {
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
}
.top-click .widget-content-right .widget-numbers {
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
}
.top-click .widget-content-right .widget-subheading {
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.input-date {
  width: 70%;
  border: none;
  border-radius: 5px;
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.widget-content-left .logo-time {
  margin-left: 10px;
  margin-right: 5px;
}

.filter-tag {
  margin-bottom: 15px;
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.filter-tag button {
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.table-data {
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Sarabun", sans-serif;
  line-height: 16px;
  font-weight: 400;
}
.table-data thead th {
  text-transform: uppercase;
  color: #acacac;
}
.table-data tbody .o_link p {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
.table-data tbody .o_link-text a {
  color: black;
}
.table-data tbody .s_link-tag .badge {
  margin-right: 3px;
  margin-bottom: 5px;
}
.table-data tbody .action_data {
  display: flex;
}
.table-data tbody .action_data button {
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  font-family: "Sarabun", sans-serif;
  margin-right: 5px;
  margin-bottom: 20px;
}

/* Card */
.card {
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 10px;
}

.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 10px;
}

.card-title {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #012970;
  margin-left: 20px;
}
.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 10px 10px 10px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/*# sourceMappingURL=style.css.map */
