.chart {
  margin-bottom: 15px;
}
.chart .card-chart {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 10px;
}
.filter-tag .btn-filter {
  width: fit-content;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  margin-right: 15px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}
.btn-filter1 {
  width: 250px;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  margin-right: 15px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}
.search-bar {
  margin-bottom: 15px;
}
.search-bar .card-search {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  input {
    flex-grow: 5;
    border: none;
    border-radius: 30px;
    padding-left: 10px;
  }
  .button_create_link {
    flex-grow: 1;
    border: 1px solid #4155c5;
    background: #4155c5;
    color: white;
    border-radius: 30px;
    margin: 5px;
    width: 200px;
  }
}
.widget-content {
  padding: 0.5rem;
  flex-direction: row;
  align-items: center;
}

.widget-content .widget-content-outer {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}
.top-click {
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.top-click .widget-content-left {
  margin-left: 1.5rem;
  display: flex;
}
.top-click .widget-content-right {
  width: 70%;
  margin-left: 1.5rem;
  .widget-heading {
    font-family: $sarabun;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    cursor: pointer;
  }
  .widget-numbers {
    font-family: $sarabun;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
  }
  .widget-subheading {
    font-family: $sarabun;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
}
.input-date {
  width: 70%;
  border: none;
  border-radius: 5px;
  font-family: $sarabun;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.widget-content-left .logo-time {
  margin-left: 10px;
  margin-right: 5px;
}
.filter-tag {
  margin-bottom: 15px;

  font-family: $sarabun;
  font-size: 14px;
  font-weight: 400;
  button {
    font-family: $sarabun;
    font-size: 14px;
    font-weight: 400;
  }
}
.table-data {
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-family: $sarabun;
  line-height: 16px;
  font-weight: 400;
  display: block;
  overflow: auto;
  white-space: nowrap;
  height: 500px;
  width: 100%;
  thead {
    th {
      text-transform: uppercase;
      color: #acacac;
    }
  }
  tbody {
    .o_link {
      p {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
      }
      &-text {
        a {
          color: black;
        }
      }
    }
    .s_link {
      &-tag {
        .badge {
          margin-right: 3px;
          margin-bottom: 5px;
        }
      }
    }
    .action_data {
      display: flex;
      .btn-outline-primary {
        width: fit-content;
        height: fit-content;
        font-size: 13px;
        font-family: $sarabun;
        margin-right: 5px;
        margin-bottom: 20px;
      }
    }
  }
}
.donut-chart {
  .card {
    // margin: 0px 80px 10px 100px;
  }
}
.modal-footer {
  justify-content: center !important;
  .btn-create-link {
    height: 40px;
    border: 1px solid #4155c5;
    background: #4155c5;
    color: white;
    border-radius: 30px;
    margin: 5px;
    width: 200px;
    align-items: center;

    color: #ffffff;
  }
}
.modal-title {
  margin-left: 160px;
  font-weight: bold;
}
.modal-body {
  .input-short-link {
    display: block;
    width: 95%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f8f8f8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .input-or-link,
  .input-link-android,
  .input-link-ios {
    margin-bottom: 10px;
    margin-top: 5px;
    height: 100px;
    display: block;
    width: 95%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f8f8f8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
.form-row {
  display: flex;
  flex-direction: column;
  margin-left: 12px;

  h6 {
    font-weight: 700;
  }
}
.form-row1 {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  text-align: center;
  h6 {
    font-weight: 700;
  }
}
.qr-code {
  width: 100%;
  .text-qrcode {
    height: 100px;
    span {
      text-align: center;
      overflow-wrap: break-word;
      display: block;
    }
  }
}
